{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Reset{% endblock %}
{% block body %}
<div class="container-fluid">Un mail vient d'être envoyé dans votre boite mail . </div>
{% endblock %}